.square {
  width: 100%;
  height: 20vw;
  min-height: 250px;
  object-fit: cover;
}

%blog-overview-titles {
  font-family: BebasNeue;
  font-size: 26px !important;
}

%blog-overview-learn-more {
  font-family: BebasNeue;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: $primary;
  text-transform: uppercase;
}

%blog-overview-date {
  font-family: GothicA1;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.card-picture {
  p.blog-overview-date {
    @extend %blog-overview-date;
  }
  h5 {
    a {
      @extend %blog-overview-titles;
      text-decoration: none !important;
      color: $primary;
    }
  }

  a {
    @extend %blog-overview-learn-more;
    color: $darkgray;
  }
}

.card-pictureless {
  background-color: $darkergray;
  p.blog-overview-date {
    @extend %blog-overview-date;
    margin-top: 3rem;
    color: white;
  }
  h5 {
    a {
      @extend %blog-overview-titles;
      color: white;
      text-decoration: none !important;
    }
  }
  a {
    @extend %blog-overview-learn-more;
    color: white;
  }
  p.excerpt {
    font-family: GothicA1;
    color: $lightgray;
  }

}

.blog-subheader .menu {
  @extend %submenu;
  .menu-item {
    @extend %submenu-item;
    a {
      color: $darkgray;
      background-color: $lightgray;
    }
  }
  .menu-item.current-menu-item a {
    color: white;
    background-color: $primary;
  }
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

div#blog-pagination {
  width: 70%;
  margin: 40px auto;
  a {
    font-size: 20px;
  }
}