//month view

table.my-calendar-table {
  border-collapse: separate;
  border-spacing: 5px;
  thead th {
    background: $primary !important;
  }
}
div.category-key {
  ul {
    li.current a {
      background: white !important;
      color: $primary !important;
    }
    li a {
      background: $primary !important;
      color: white !important;
      border: none !important;
      margin: 2px;
      border-radius: 0 !important;
      font-family: BebasNeue,sans-serif !important;
      font-size: 18px;
      letter-spacing: 1px;
      span {
        display: none !important;
      }
    }
  }
}
