// The Vera Project Website 2018 Redesign

/* Fonts */

@font-face {
  font-family: BebasNeue;
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'), 
    url('../fonts/BebasNeue-Regular.woff') format('woff'),
    url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
	font-family: BebasNeueThin;
 	src: url('../fonts/BebasNeue Thin.ttf') format('truetype');
}

@font-face {
	font-family: BebasNeueLight;
	src: url('../fonts/BebasNeue Light.ttf') format('truetype');
}

@font-face {
  font-family: GothicA1;
  src: url('../fonts/GothicA1-Regular.ttf') format('truetype');
}

/* Plain Tags */

html {
	overflow-x: hidden;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    color: $darkgray;
    background-color: $background;
    box-sizing: border-box;
    border: 1px solid black;
}

.site h1, h2, h3, h4, h5, h6 {
    // h tags are primarily for blind people and robots
    // They can have header styling but it should be conditional
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    line-height: 1;
}

/* Uncatagorized */
// TODO: catagorize these

.wrapper {
    padding: 0;
    position: relative;
}

.overlay {
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.center-vertical {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

a.donate {
    height: 56px;
    width: 126px;
    border: 2px solid $primary;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

a.more {
    height: 24px;
    font-family: BebasNeue;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: inherit;
    border-bottom: 2px solid $primary;
}
a.more:hover {
    color: $primary;
    border-bottom: none;
    padding-bottom: 2px;
}

%label-base {
	display: inline-block;
	font-family: BebasNeue;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 19px;
	font-weight: normal;
	letter-spacing: 1.5px;
	padding: 5px 10px 2px;
	margin-bottom: 30px;
}

.label {
	@extend %label-base;
    background-color: $primary;
    color: white;
}

.label-white {
	@extend %label-base;
	background-color: white;
	color: $primary;
}

.icon {
	width: 60px;
	height: 60px;
}



.entry-header .entry-title {
    color: white;
    font-family: BebasNeue;
    font-size: 96px;
    letter-spacing: 1.5px;
}

.entry-header .wp-post-image {
    width: 100%;
    min-width: 960px;
    max-width: 1440px;
    height: 450px;
    object-fit: cover;
}

.entry-header .header-texture {
	//background-image: url('../img/header-texture.png');
	background: rgba(0, 0, 0, 0.3);
}

.entry-header .header-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Navigation */

.navbar {
    margin: 0;
    padding: 0 40px;
    font-size: 18px;
    font-family: "BebasNeue", sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: normal;

	.navbar-brand {
	    height: 130px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	
	.navbar-brand .img-fluid {
	    height: 100%;
	    width: auto;
	}
	
	.navbar-collapse {
		justify-content: flex-end;
	}
	
	.navbar-collapse.show {
		margin-bottom: 20px;
	}
	
	.navbar-nav {
	    float: right;
	}
	
	.navbar-toggler-icon {
		background-color: black;
	}

	.navbar-nav .donate {
	    margin-left: 30px;
	}
	
	.nav-item {
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    text-align: right;
	}
	
	.nav-item > .nav-link {
		/* direct child to override rules from bootstrap */
		color: black;
		padding-left: .8rem;
		padding-right: .8rem;
	}
}


ul.menu {
	margin: 0;
	padding: 0;
}

.entry-header .menu {
	justify-content: center;
	text-align: center;
	//height: 50px;
	background-color: $accent;
	align-content: center;
	font-family: BebasNeue;
	font-size: 18px;
	line-height: 1;
	letter-spacing: 1.5px;

	.menu-item {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		list-style: none;
		padding: 0 20px;
		height: 100%;

		a {
			color: $darkgray;
		}
	}

	.menu-item.current-menu-item a {
		color: white;
		font-weight: lighter;
	}
}

.quote {
	background: $accent;
}

/* Sections */

%section-header {
    font-family: BebasNeue;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 40px;
    h1 { font-size: 96px; }
    h2 { font-size: 72px; }
    h3 { font-size: 56px; }
}

%section-body {
    font-family: GothicA1;
    font-size: 24px;
    color: black;
    p {
        margin-bottom: 35px;
    }
}

.entry-content section {
    padding: 90px 0 0px;

    .header {
    	@extend %section-header;
    }

    .body {
    	@extend %section-body;
    }
}

/* Styling that affects multiple pages */

#content {
    padding: 0;
}

section.info {
    padding-bottom: 50px;

    .header {
		b { color: $primary; }
    }
    
    .body {
        max-width: 970px;
        margin: 0 auto;
    }
}

section.banner {
	position: relative;
	margin-top: 70px;
	padding: 0;
	height: 900px;
	color: white;
	text-align: left;

	> * {
		position: absolute;
		width: 100%;
	}

	&::before {
		content:" ";
		position: absolute;
		top: 0;
		left: -210px;
		height: 100%;
		width: 209px;
		background-color: $background;
		z-index: -1;
	}

	&::after {
		content:" ";
		position: absolute;
		top: 0;
		right: -215px;
		height: 105%;
		width: 214px;
		background-color: $background;
		z-index: -1;
	}

	.row > *:first-child {
		padding: 240px 20px 115px 240px;
	}

	.row > *:last-child:not(:first-child) {
		padding: 0;
	}

	.banner-headline {
		margin-bottom: 30px;
		width: 50%;
		font-family: BebasNeue;
		font-size: 96px;
		line-height: 0.9;
		letter-spacing: 1.5px;
	}

	.label {
		background-color: white;
		color: $primary;
	}

	.more {
		display: inline-flex;
		height: 56px;
		padding: 0 20px;
		border: 2px solid white;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	.more:hover {
		text-decoration: none;
		color: white;
	}

	.banner-background {
		height: 640px;
		width: 124%;
		margin-left: -11%;
		background-color: $primary;
		background-image: url('../img/top-texture.png');
		transform: rotate(9.2deg);
		transform-origin: left;
		z-index: -2;
	}
}

section.donate {
	padding: 63px 0 45px;
    line-height: 1;
    letter-spacing: 1.5px;
    background-color: black;
    color: white;
    font-family: BebasNeue;
	font-size: 72px;
	b { color: $primary; }
}

/* quotes */
.vera-quote {
	background-color: $accent;
	.background {
		position: absolute;
		top: -250px;
		bottom: 0;
		width: 100%;
		background-color: $accent;
		z-index: -3;
	}
	p.quote-text {
		font-size: 34px;
		font-weight: bold;
		font-family: BebasNeueLight;
		strong {
			font-family: BebasNeue;
			color: $primary;
		}
		&:after {
			content: "“";
			position: absolute;
			color: white;
			opacity: .2;
			top: -78px;
			left: -30px;
			font-family: GothicA1;
			font-size: 200px;
		}
	}
	span.author {
		font-size: 14px;
		font-family: GothicA1;
		text-transform: uppercase;
		font-weight: bold;
	}
	.textured {
		background-image: url('../img/tvp-halftone-center-white.png');
		height: 100%;
		object-fit: cover;
		background-size:cover
	}


}

/* Buttons */

%bordered-button-base {
	border-radius: 0px;
	margin-top: 20px;
	font-family: BebasNeue;
	font-size: 24px;
	border-width: 2px;
}

a.bordered-button {
	@extend %bordered-button-base;
	color: #4a4a4a;
	&:hover {
		color: white;
	}
}

a.bordered-button-white {
	@extend %bordered-button-base;
	color: white;
	border-color: white;
}

/* Page-specific styling */
@import "front_page";
@import "landing_page";
@import "get_involved_page";
@import "classes_page";
@import "gallery_page";

/* Footer */

div#wrapper-footer {

	div.donate-footer {
		height: 180px;
		background-color: #000000;
		//text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		h1 {
			font-family: BebasNeueLight;
			font-size: 72px;
			color: white;
			letter-spacing: 1.5px;

			strong {
				color: $primary;
				font-family: BebasNeue;
				font-weight: normal;
			}
		}
	}

	.site-footer {
		padding: 0px 120px;
		color: white;
		background-color: #252525;

		.footer-social-media {
			padding-top: 1rem;
			padding-left: 2rem;
		}
		.footer-links {
			margin-top: 4rem;
		}
		.footer-link {
			font-family: BebasNeue;
			font-size: 25px;
			//font-style: normal;
			//font-stretch: normal;
			line-height: 1;
			letter-spacing: 1.5px;
			padding: 1rem;
			font-weight: 100;
			text-transform: uppercase;
		}
		.footer-title {
			margin-top: 4rem;
			padding-bottom: 1rem;
			font-family: BebasNeue;
			font-size: 72px;  line-height: 1;
			letter-spacing: 1.5px;
			color: $primary;
		}

		.footer-content {
			font-family: GothicA1;
			font-size: 18px;  line-height: 1.5;
			padding-bottom: 15px;
		}

		.footer-directions {
			font-family: BebasNeue;
			font-size: 34px;
			line-height: 1;
			letter-spacing: 1.5px;
			padding-bottom: 5rem;
		}
	}
}

.square {
	width: 100%;
	height: 20vw;
	object-fit: cover;
}

.blog-title {
	color: $primary;
	font-family: BebasNeue;
	font-size: 34px;
}