section.classes-section {
	padding-top: 20px !important;
	padding-bottom: 100px;

	.list-header, .list-item {
		//margin-left: 15px;
		//padding-left: 0px;
		//margin-right: 15px;
		//padding-right: 0px;
		//border-bottom: 3px solid $lightgray;
	}

	.square-wrapper {
		border: 1px solid $lightgray;
	}

	.class-title {
		//@media screen and (max-width: 767px) {
		//	font-size: 24px !important;
		//}
		&:hover {
			opacity: 0.6;
		}
		a {
			cursor: pointer;
		}
		text-align: center;
		display: inline-block;
		color: $primary;
		font-family: BebasNeue;
		font-size: 40px;
		line-height: 1;
		letter-spacing: 1.5px;
		//padding-right: 100px;
		padding: 30px;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		h4 {
			color: $darkgray;
		}
	}

	.list-header {
		padding-bottom: 30px;

		.filter-category {
			@media screen and (max-width: 767px) {
				font-size: 20px !important;
				margin-right: 5px !important;
			}

			height: 24px;
			padding: 6px 15px;
			margin-right: 25px;
			font-family: BebasNeue;
			font-size: 24px;
			line-height: 1;
			letter-spacing: 1.5px;
			text-align: center;
			color: $darkgray;
			background-color: $lightgray;
		}

		.filter-category.active {
			color: white;
			background-color: $primary;
		}
	}

	.list-item {
		position: relative;
		display: flex;
		align-items: center;
		height: 117px;
		a:hover {
			text-decoration: underline;
			cursor: pointer;
		}

		.class-row {
			.class-info {
				text-align: center;
				//margin-right: 30px;
				font-family: GothicA1;
				font-size: 18px;
				@media screen and (max-width: 767px) {
					font-size: 14px !important;
				}
			}

			.class-register {
				@media screen and (max-width: 767px) {
					font-size: 14px !important;
				}
				display: inline-block;
				text-align: center;
				padding-top: 10px;
				font-family: BebasNeue;
				font-size: 24px;
				font-weight: bold;
				line-height: 1.5;
				letter-spacing: 1.5px;
				color: $darkgray;
				border: 2px solid $primary;
			}
			.class-register.disabled {
				color: $midgray;
			}
		}
	}

}


.modal {
	.modal-title {
		font-weight:bold;
	}
	.modal-dialog {
		max-width: 800px;
	}

	.modal-footer {
		div.time-label {
			@include media-breakpoint-down(sm) {
				margin-bottom: 5px;
			}
		}
	}
}