$container-padding: 0px !important;

.current-gallery {
  // todo ask marianne: how do we best make this snap to full screen or something on mobile? setting
  // explicit pixel heights on sections feels unresponsive
  background: #ebeeef;
  img.current-gallery-image {
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}


// put this somewhere else
h2.medium-header {
  font-size: 48px;
  font-family: BebasNeue;
  letter-spacing: 1.8px;
}

// put this somewhere else
h1.large-header {
  font-size: 80px;
  font-family: BebasNeue;
  letter-spacing: 1.8px;
}


.smaller-margin-container {
  padding: $container-padding;
  margin: $container-padding;
}

.gallery-banner {
  position: relative;
  height: 600px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  .banner-background {
    height: 640px;
    width: 124%;
    position: absolute;
    margin-left: -11%;
    background-size:cover;
    background-color: $primary;
    background-image: url('../img/header-texture.png');
    transform: rotate(9.2deg);
    transform-origin: left;
    z-index: -9;
  }
  //.banner-background::before {
  //  opacity: 0.6;
  //  background-image: url('../img/top-texture.png');
  //}
  .banner-content {
    margin-top: 12rem;
  }
  img.support-gallery-graphic {
    height: 23%;
  }

}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
