section.featured {
	padding-top: 0px;

	.featured-image {
		max-height: 480px;
		min-height: 360px;
		width: 100%;
		object-fit: cover;
	}

	.featured-info {
		text-align: left;

		h2 {
			font-family: BebasNeue;
			font-size: 64px;
		}
		p {
			margin-top: 20px;
			margin-bottom: 20px;
			font-family: GothicA1;
			font-size: 16px;
			line-height: 1.5;
		}
	}
}

div.landing-donate {
	margin-top: 12rem;
	.support-vera-graphic {
		height: 25%;
	}
}

section.volunteer-today-landing {
	@extend %banner-base;
	background-color: $primary;
	svg.top-cutout {
		fill: white;
	}
	svg.bottom-cutout {
		fill: $accent;
	}
}

section.landing-quote {
	@extend %banner-base;
	background-color: $accent;
	svg.top-cutout {
		fill: $accent;
	}
	//svg.bottom-cutout {
	//	fill: $accent;
	//}
}

section.quote {
	position: relative;
	padding: 0;
	.background {
		position: absolute;
		top: -250px;
		bottom: 0;
		width: 100%;
		background-color: $accent;
		z-index: -3;
	}
}