$list-bg-color: #f6f6f6;

div.list-template-page {
  @include media-breakpoint-up(md) {
    div.template-item {
      max-height: 450px;

      img {
        height: 100%;
        max-height: 400px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    div.list-wrapper:nth-child(odd) {
      background: $list-bg-color;
    }
  }

  @include media-breakpoint-only(md) {
    div.list-wrapper:nth-child(4n), div.list-wrapper:nth-child(4n + 1) {
      background: $list-bg-color;
    }
  }

  @include media-breakpoint-down(sm) {
    div.list-wrapper:nth-child(odd) {
      background: $list-bg-color;
    }

    div#intro-text p {
      font-size: 20px;
    }
  }
}


