$list-bg-color: #f6f6f6;

div.list-template-page {

  @include media-breakpoint-up(md) {
    div.template-item {
      max-height: 450px;

      img {
        height: 100%;
        max-height: 400px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    div.list-wrapper:nth-child(odd) {
      background: $list-bg-color;
    }
  }

  @include media-breakpoint-only(md) {
    div.list-wrapper:nth-child(4n), div.list-wrapper:nth-child(4n + 1) {
      background: $list-bg-color;
    }
  }

  @include media-breakpoint-down(sm) {
    div.square-wrapper .square-content p {
      font-size: .9rem !important;
    }

    div.list-wrapper:nth-child(odd) {
      background: $list-bg-color;
    }

    div#intro-text p {
      font-size: 20px;
    }
  }



  div.square-wrapper {
    padding-bottom: 100%;
    .square-content {
      position: absolute;
      height: 100%;
      img {
        width: 50%;
      }
      h2.large-header {
        font-size: 40px;
      }
      p {
        font-size: .8rem;
      }
    }
  }

}

