.single-blog-title {
  font-size: 4rem;
  font-family: BebasNeue;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 0.8;
  margin-bottom: 25px;
}

.single-blog-featured-image {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  max-height: 25rem;
}

.single-blog-featured-text {
  background-color: $darkergray;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto;
}

.blog-contents {
  font-family: GothicA1;
  p.metadata {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.recent-posts {
  hr {
    height: 2px;
    opacity: 0.18;
    background-color: #9b9b9b;
  }
  h2 {
    font-family: BebasNeue;
    font-size: 24px;
    color: $darkgray;
    font-weight: lighter;
  }
  a {
    font-family: BebasNeue;
    font-size: 24px;
  }
  p.date {
    font-family: GothicA1;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.textured-blerg {
  background-image: url(../img/tvp-halftone-top-left-gray.png);
  opacity: 100%;
}

.share-call {
  font-family: BebasNeue;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $darkgray
}